<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% for key,value in send.items %}
        <form action="/municipioDetail/" method='get'>

            {% if key == "municipios" and value != None %}
                {% for key,value in send.municipios.items %}
                <h4>{{ value }}</h4>
                <button name=id value = {{ key }} class="btn"> Ver Detalhes</button>
                {% endfor %}
            {% else %}
                <h3>{{ key }} : {{ value }}</h3>
            {% endif %}
        </form>
    {% endfor %}
</body>
</html>