<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>Portugal</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet"  type="text/css" href="{% static 'css/crop.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    .tab {
        display:inline-block;
       margin-left: 40px;
}
        .minortab {
        display:inline-block;
       margin-left: 20px;
}
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }

      * {
  box-sizing: border-box;
}


  </style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" >
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse navbar-fixed-top" id="myNavbar">
      <ul class="nav navbar-nav">
        <li ><a href="/">Home</a></li>
        <li ><a href="/distritos">Portugal</a></li>
        <li ><a href="/interesses">Interesses</a></li>
        <li class="active"><a href="/rssFeed">rssFeed</a></li>
        <li ><a href="/sobre">Sobre o Site</a></li>
      </ul>
    </div>
  </div>
</nav>
<br>
<br>
<h1 align="center">RSS Feed do Instituto Nacional de Estatística de Portugal</h1>
<br>


 <div class="column" style="background-color:#FFFFFF;">
     {% for item in list %}
         <h3 align="center">{{ item.news_title }}</h3>
         {% autoescape off %}
            <h4 align="center">{{ item.news_description }}</h4>
         {% endautoescape %}
         <h4 align="center">Hiperligação:</h4>
         <h4 align="center"><a href="{{ item.news_link }}/">{{ item.news_link }}</a></h4>
         <br>
     {% endfor %}
  </div>

</body>
</html>
